[user]
	email = girishji@gmail.com
	name = Girish Palya
[credential]
	helper = 
	helper = /usr/local/share/gcm-core/git-credential-manager
[credential "https://dev.azure.com"]
	useHttpPath = true
[core]
	excludesfile = .gitignore
